* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Quick Kiss Personal Use";
    src: url("fonts/quick_kiss/Quick\ Kiss\ Personal\ Use.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;

}

.section-header {
    background-image: url("img/BGBG_Banner.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.logo {
    font-size: 36px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 125px;
}

.menu a {
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    margin: 0 20px;
}

button {
    color: #1F3347;
    font-weight: 600;
    font-size: 16px;
    background-color: #FFC814;
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 60px;
}

.description {
    max-width: 565px;
    padding-bottom: 85px;
}

h1 {
    font-size: 64px;
    color: white;
    font-weight: 700;
    line-height: 76px;
    margin: 0 0 40px 0;
}

.description p {
    color: white;
    line-height: 30px;
    margin-bottom: 55px;
}

.secondary {
    color: #181818;
    background: #FFFDFD;
    margin-left: 20px;
}

.search-buttons {
    display: flex;

}

.search {
    display: flex;
    align-items: center;
    width: 120px;
    padding: 0;
    margin-right: 10px;
    border-radius: 4px 4px 0px 0px;
    height: 50px;
    background-color: white;
}

.active {
    background-color: #FFC814;
}

.search img {
    padding: 0 10px 0 10px;
}

.trip-data {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: flex-end;
    box-shadow: 0px 6px 24px 0px #E4E2EE;
}

.input-field {
    display: flex;
    flex-direction: column;
}

label {
    color: #1F3347;
    font-weight: 600;
    margin-bottom: 10px;
}

input {
    width: 170px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0px 6px 24px 0px #E4E2EE;
    border: none;
    padding-left: 10px;
    color: #70717B;
    font-family: Poppins;
    font-size: 16px;
}

.trip-data button {
    box-shadow: 0px 6px 24px 0px rgba(255, 200, 20, 0.40);
    margin-left: -20px;
}

.search-section {
    position: relative;
    top: 105px;
}

#about-us {
    position: relative;
}

.direction {
    color: rgba(244, 246, 250, 0.80);
    font-size: 430px;
    font-weight: 600;
    position: absolute;
    top: -300px;
    right: -10px;
    z-index: -1;
}

.about-us {
    margin-top: 210px;
    display: flex;
}

.photos img {
    border-radius: 14px;
    box-shadow: 0px 6px 24px 0px #E4E2EE;
}

.travel {
    width: 412.776px;
    height: 558.542px;
}

.travel-woman {
    width: 265px;
    height: 300px;
    position: relative;
    right: 103px;
    top: 55px;
}

.info {
    max-width: 530px;
    position: relative;
}

h2 {
    color: #FFC814;
    font-family: Quick Kiss Personal Use;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.advantage {
    color: #1F3347;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

.info p,
.info li {
    color: #9DA1B4;

}

.info p {
    line-height: 24px;
}

.info ul::before {
    content: url(img/icon.svg);
    position: absolute;
    left: 0px;
    top: 265px;

}

.info li {
    line-height: 36px;
    list-style: none;
}

.statistics {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.statistic {
    max-width: 88px;
}

.statistic span {
    color: #FFC814;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 7px;
}

.statistic p {
    margin-top: 7px;
}

@media(min-width: 1890px) and (max-width:2100px) {
    .background {
        background-image: url(img/board.svg);
        background-repeat: no-repeat;
        background-position: right 1% top 130%;
    }
}